*.swp
composer.lock
composer.phar
vendor
.idea
examples/goku_del.jpg
examples/goku_thumb.jpg
examples/ssj_del.png
examples/ssj_thumb.jpg
examples/ssj_contain.png
examples/ssj_cover.png
examples/dgz_del.png
examples/dgz_del_2.png
examples/dgz_thumb.jpg
examples/browser_del.png
examples/favicon_contain.png
